<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать видео</title>
</head>
<body>
    <h1>Редактировать видео</h1>
    <nav>
        <a href="/logout">Выйти</a>
        <a href="/login">Вход</a>
        <a href="/register">Регистрация</a>
        <a href="/create-post">Создать пост</a>
        <a href="/history">История сообщений</a>
        <a href="/home">Лента новостей</a>
    </nav>

    <form action="/posts/edit/<%= postId %>" method="POST" enctype="multipart/form-data">
        <label for="newContent">Новый текст поста:</label>
        <textarea name="content" placeholder="Введите новый текст поста..." required></textarea>
        <br>
        <label for="newVideo">Загрузить новое видео:</label>
        <input type="file" name="video" accept="video/*">
        <button type="submit">Сохранить изменения</button>
    </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/callManager.js"></script>
</html>